@import '../../styles/variables';

.whee-shapes {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 767px) {
  .whee-shapes {
      align-items: stretch;
  }
}