$whee-color-black: rgb(0, 0, 0);
$whee-color-pink: rgb(239, 74, 141);
$whee-color-gray: rgb(235, 235, 235);
$whee-color-white: rgb(255, 255, 255);
$whee-color-gradient-start: rgb(215, 215, 215);
$whee-color-gradient-end: rgb(255, 255, 255);
